# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Maven
target/
mvnw
mvnw.cmd
.mvn/
*.jar
*.war
*.ear

# Operating System files
.DS_Store
Thumbs.db

# Spring Boot specific
spring-boot-starter-*/target/
spring-boot-starter-*/build/

# MongoDB
*.db
*.log

# IDE files
.vscode/

# Dependency directory (node_modules, bower_components, etc.)
node_modules/

environment-variable-setup.bash
